*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border:border-box;
}

.navbar{
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}
.nav-logo{
  height: 50px;
  width: 100px;
  margin-left: 10px;
}
.logo{
  background-image: url(image-260nw-2270561027.webp);
  background-size: cover;
  height: 50px;
  width: 100%;
}
.border{
  border: 2px solid transparent;
}
.border:hover{
  border: 1.5px solid white;
}

/** box 2 **/
.nav-adress{
  margin-left: 10px;
  margin-top: 10px;
}
.add-first{
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec{
  font-size: 1rem;
  margin-left: 15px;
}
.location-icon{
  display: flex;
}

/** box 3**/
.nav-search{
  display: flex;
  justify-content: space-evenly;
  background-color: pink;
  width: 620px;
  height: 40px;
  border-radius: 3px;
}
.nav-search:hover{
  border: rgb(226, 134, 6);
}
.search-select{
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input{
  width: 100%;
  font-size: 1.025rem;
  
}
.search-icon{
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(226, 132, 9);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: black;
}
/** box 4 **/
.span{
  font-size: 0.7rem;
}
.nav-second{
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
}
/** panel**/
.panel{
  display: flex;
  background-color: #222f3d;
  color: white;
  height:40px;
  align-items: center;
  justify-content: space-evenly;

}
.panel-options p{
  display: inline;
  margin-left: 15px;
}
.panel-options{
  width: 70%;
  font-size: 0.85rems;

}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
}
/** hero section**/
.hero-section{
  background-image: url(PC_HERO_NTA_20_1X_EN._CB576365685_.jpg);
  height: 380px;
  background-size:cover;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.hero-message{
  background-color: #f3f3f3;
  color: black;
  font-weight: 600;
  height: 40px;
  width: 80%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}
a{
  color: #007185;
}
.box{
  height: 400px;
  width: 23.6%;
  background-color: white;
  margin-top: 8px;
  padding-top: 15px;
}
.shop-section{
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  flex-wrap: wrap;
}
.box-image{
  height: 300px;
  padding: 20px 0px 15px;
  background-size: cover;
  margin-top: 10px;
}
.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}
.shop-section p{
  color:#007185;
}
footer{
  margin-top: 15px;
}
.foot-panel1{
  background-color: #37475a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  color: white;
  height: 50px;
}
.foot-panel2{
  background-color:#041d3bd6 ;
  color: white;
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  
}
ul a{
  display: block;
  font-size: 0.95rem;
  color: #dddddd;
  margin-top: 20px;
}
.foot-panel3{
  background-color: #222f3d;
  color: #dddddd;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  background-image: url(image-260nw-2270561027.webp);
  background-size: cover;
  height: 50px;
  width: 100px;
}








